	<div id="header">
		<h2>Employee Recognition Portal</h2>
	</div>
	<nav class="topnav">
		<a href="/user" > Home</a>
		<a href="/award" > Award Entry</a>
		<a href="/awardhist" > Award History</a>
	</nav></br>
	
	{{#each foo}}
	{{this}}
	{{/each}}
	<table>
		<thead>
			
			<th>Winner First Name</th>
			<th>Winner Last Name</th>
			<th>Created By</th>
			<th>Date Created</th>
			<th>Date Given</th>
		</thead>
		<tbody>
			{{#each awards}}
			<tr>
			<td>{{winnerName}}</td>
			<td>{{winnerLastName}}</td>
			<td>{{createdBy}}</td>
			<td>{{dateCreated}}</td>
			<td>{{dateGiven}}</td>
			<td><input type="submit" name="delete" Value="Delete"></td>
			</tr>
			{{/each}}
		</tbody>

		
	</table>