<h2>Editing User:</h2>
<br>
<ul>
  <li class="eid">{{data.0.id}}</li>
  <li>{{data.0.email}}</li>
  <li>{{data.0.last_name}}</li>
  <li>{{data.0.first_name}}</li>
  <li>{{data.0.type}}</li>
</ul>
<br>
<form id="edit-user-form">
  Username: <input type="text" name="email" value=""><br>
  Last Name: <input type="text" name="last_name" value=""><br>
  First Name: <input type="text" name="first_name" value=""><br>
  User Type: <input type="text" name="type" value=""><br>
  <button id="edit-form-btn" type="button" class="btn btn-dark" name="button"> Submit </button>
</form>
